
<div id="wrapper" >

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-include="'views/sideBar.html'">
       </nav>
        <div id="page-wrapper" style="min-height: 0px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Applications</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" ng-hide="editImageView">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Create application
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <form role="form" ng-submit="submitForm();" name="application" enctype="multipart/form-data">
                                        <div class="row">
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Application Name</label>
                                                <input type="text" class="form-control" ng-model="data.application_name">
                                                <p class="help-block">Enter application name here.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Application type</label>
                                                <select class="form-control" ng-model="data.application_type">
                                                    <option value="">
                                                        Select
                                                    </option>
                                                    <option value="single">Single Application </option>
                                                    <option value="multi">Multi Application</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Choose a icon</label>
                                                <input type="file" 
                                                    ngf-select 
                                                    ng-model="data.file" 
                                                    name="file">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Choose a Banner</label>
                                                <input type="file" 
                                                    ngf-select 
                                                    ng-model="data.file2" 
                                                    name="file2">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label>Background Image</label>
                                                    <input type="file" 
                                                        ngf-select 
                                                        ng-model="data.file3" 
                                                        name="file3">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea name="message" ng-model="data.message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label>Banner Size</label>
                                                    <select class="form-control" ng-model="data.bannerSize" >
                                                        <option value="">Select</option>
                                                        <option value="Small" >Small</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Large">Large</option>
                                                    
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label>Copy data from previous app</label>
                                                    <select class="form-control" ng-model="data.clonAddData" >
                                                        <option value="">Select</option>
                                                        <option value="yes" >Yes</option>
                                                        <option value="No" >No</option>
                                                    
                                                    </select>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="row">
                                            
                                            <div class="col-md-3 col-lg-3" ng-show="data.clonAddData=='yes'">
                                                <div class="form-group">
                                                    <label>Select App</label>
                                                    <select class="form-control" ng-model="data.appNameForReference" >
                                                        <option value="">Select</option>
                                                        <option  ng-repeat="app in applicationData" value="{{app._id}}" >{{app.title}}</option>
                                                    
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <button type="submit" class="btn btn-default">Add</button>
                                            </div>
                                       </div>
                                    </form>
                                </div>
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row" ng-show="editImageView">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit application Images
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <form role="form" ng-submit="updateApplicationImages();" name="application" enctype="multipart/form-data">
                                        <div class="row">
                                        
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Edit Image Type</label>
                                                <select class="form-control" ng-model="editData.image_type">
                                                    <option value="">
                                                        Select
                                                    </option>
                                                    <option value="banner">Edit Banner Image </option>
                                                    <option value="backgroundImg">Edit Background Image</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3" ng-show="editData.image_type=='banner'">
                                            <div class="form-group">
                                                <label>Choose a Banner</label>
                                                <input type="file" 
                                                    ngf-select 
                                                    ng-model="editData.file" 
                                                    name="file2">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3" ng-show="editData.image_type=='backgroundImg'">
                                            <div class="form-group">
                                                <label>Background Image</label>
                                                <input type="file" 
                                                    ngf-select 
                                                    ng-model="editData.file2" 
                                                    name="file3">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <button type="submit" class="btn btn-default">Update</button>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <div id="page-wrapper">
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List of all applications
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table  width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Icon</th>
                                        <th>Banner</th>
                                        <th>Background</th>
                                        <th>Edit</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" ng-repeat="data in applicationData">
                                        <td>{{data.title}} ({{data.status}})</td>
                                        <td ng-show="data.applicationType=='single'">Single Application</td>
                                        <td ng-show="data.applicationType=='multi'">Multi Application</td>
                                        <td><img ng-src="{{domain}}/{{data.icons}}" width="30" height="30"></td>
                                        <td><img ng-src="{{domain}}/applicationImg/{{data.banner}}" width="30" height="30"></td>
                                        <td><img ng-src="{{domain}}/applicationImg/bg/{{data.backgroundImg}}" width="30" height="30"></td>
                                        <td>

                                          <button type="button"  ng-click="editApplicationImages(data,pid,lid)" class="btn btn-primary">Edit App Images</button>
                                          
                                        </td>
                                        <td>

                                          <button type="button"  ng-click="editApplication(data)" class="btn btn-primary">Next</button>
                                          <button type="button"  ng-click="deleteApplication(data,pid,lid)" class="btn btn-danger">Delete</button>
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>


 